footer {
    padding: 0.5rem 0rem;
    position: relative;
    margin-top: 100px !important;
    text-align: center;
    color: #333333;
    bottom: 0;
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px; 
}

.footer p, .footer a {
    font-weight: 300;
    font-size: 1em;
    margin-top: 20px;
    color: #333333;
    display: inline-block;
    
    
}
.footer-links {
    list-style-type: none;
    display: inline-block;
    
}

.footer-links li {
    margin-top: .5em;
    display: inline-block;
    
}

.columns {
    display: table-cell;
    text-decoration: none;
}

#illinois {
    height:75px;
    padding-right: 15vw;
    margin-bottom: -20px;
}

.logos {
    display: table;
    padding-left:100px;
    table-layout: fixed; 
    border-spacing: 10px; 
    text-decoration: none;
    float:right;
    margin-bottom:-60px;
}  

.logolink {
    width:50px;
    text-decoration: none;
}

.logo#github {
    height: 50px !important;
    margin-top: 20px;
    padding-left: 20px;
    margin-right: -20px; 
    display: table-cell;
    
}
.logo#twitter {
    height: 50px !important;
    margin-top: 20px;
    padding-left: 20px;
    margin-right: -20px; 
    display: table-cell;

    
}
.logo#fb {
    height: 50px !important;
    margin-top: 20px;
    padding-left: 20px;
    margin-right: -20px; 
    display: table-cell;

    
}
.logo#medium {
    height: 50px !important;
    margin-top: 20px;
    padding-left: 20px;
    margin-right: -20px;
    display: table-cell;
}
