.Frameworks {
    width:75vw;
    height:75vw;
    max-width:1200px;
    max-height:1200px;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}