 @import url('https://fonts.googleapis.com/css?family=Roboto');

.menu {
    text-decoration: none; 
}

.acm-logo {
    margin-left: 2vw;
    margin-top: 2vh; 
}

#title {
     display: inline-block;
}

#nav-home {
    white-space:nowrap;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    color: #333333;
}

#logo-img {
   display:inline; 
   position: absolute;
   padding-top: 25px;
}

#logo-text {
    width: 20%;
    display: inline;
    position: absolute;
    height: 250px;
    white-space:nowrap;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 3.5em;
    padding-left: 150px;
    margin-top: -20px;
}

.top-bar-left {
       height: 250px;
}

.desktop {
    height: 250px;
    width: 100%;
}

